.head_nav{
    width: 100%;
    height: 52px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    background-color: #313948;
}
.head_nav ul > li{
    padding:0 13px;
    height: 52px;
}
/* .head_nav .nav_left > li:hover{
    background-color: #5a616d;
} */
.head_nav .nav_left > li > a{
    color: rgb(238, 238, 238);
    font-weight: 100;
    font-family: ProximaNovaLtSemibold, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 52px;
    font-size: 16px;
}
.head_nav .nav_left{
    display: -webkit-flex;
    display: flex;
}
.head_nav .nav_left .tab_group > p{ 
    padding: 19px 0 0 0 ;
}
.head_nav .nav_left .tab_group > p .icon-bar{
    display: block;
    margin-top:3px;
    width: 12px;
    height: 1px ;
    background-color: rgb(238, 238, 238);
    border-radius: 1px;
}
.head_nav .nav_left .tab_mode{
    position: relative;
}
.head_nav .nav_left .tab_mode .dian{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 33px;
    color: rgb(238, 238, 238);
}
/* 页签组 */
.head_nav .nav_left .tab_group .group-list{
    position: absolute;
    top: 48px;
    left: 6px;
    z-index: 99999;
    padding: 3px 0 2px 0px;
    background-color: white;
    display: none;
}
.head_nav .nav_left .tab_group .group-list dd{
    width: 107px;
}
.head_nav .nav_left .tab_group .group-list dd:nth-of-type(1){
    font-size: 16px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    position: relative;
}
.head_nav .nav_left .tab_group .group-list dd:nth-of-type(1) span{
    width: 11px;
    height: 11px;
    position: absolute;
    left: 9px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -3px;
}
.head_nav .nav_left .tab_group .group-list dd:nth-of-type(2){
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #f7f7f7;
}
.head_nav .nav_left .tab_group .group-list dd:nth-of-type(3){
    height: 43px;
    line-height: 43px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.head_nav .nav_left .tab_group .group-list dd:nth-of-type(3) span{
    padding: 0 5px;
    font-size: 13px;
}
/* 精灵图 */
.jlt{
    display: inline-block;
    background:transparent url(../image/jlt.png) no-repeat;
}
/* 模块下拉菜单 */
.head_nav .nav_left .tab_mode .mode_list{
position: absolute;
background-color:white;
width: 248px;
z-index: 66;
top: 52px;
left: -7px;
display: none;
}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(1){
    padding: 0  0  0 20px;
    border-bottom: 1px solid #e5e5e5e5;
    margin-bottom: 10px;
    position: relative;
}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(1) span{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 17px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -8px;
}
.head_nav .nav_left .tab_mode .mode_list  dd:nth-of-type(1) label{
    display: inline-block;
    background-position: 0 0;
    width: 16px;
    height: 16px;
}
.head_nav .nav_left .tab_mode .mode_list  dd:nth-of-type(1) #mode_input{
    border:none;
    width: 190px;
    height: 30px;
    font-size: 14px;
    margin: 10px 0 5px  0;
}
.head_nav .nav_left .tab_mode .mode_list  dd:nth-of-type(2){
    height: 200px;
    overflow-y: scroll;

}
.head_nav .nav_left .tab_mode .mode_list  dd:nth-of-type(2) > p > a{
    padding: 0  0  0 20px;
    width: 228px;
   height: 28px;
   line-height: 28px;
    display: block;
   font-size: 15px;
   font-weight: 400;
}
.head_nav .nav_left .tab_mode .mode_list  dd:nth-of-type(2) > p > a:hover{
    background-color: #313848;
    color: white; 
   
}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(3) > p >a{
    display: inline-block;
    padding:10px 0 10px 20px;
    font-size: 16px;
}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(4){
   background-color: #f7f7f7;
   border-top:1px solid #e5e5e5;
   padding: 5px 0;

}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(4) > p:nth-of-type(1){
    padding-left: 20px;
    font-size: 8px;
}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(4) > p >a{
    padding-left: 20px;
     height: 30px;
     width: 228px;
    line-height: 30px;
}
.head_nav .nav_left .tab_mode .mode_list dd:nth-of-type(4) > p >a:hover{
    display: inline-block;
    background-color: #f0f0f0;
    color: #2C7BD0;
}
.head_nav .nav_right{
    display:-webkit-flex;
    display: flex;
    align-items: center;
    height: 52px;
}
.head_nav .nav_right > li{
    height: 20px;
    margin-left: -5px;
}
.head_nav .nav_right > li:nth-of-type(1){
    color: #ccc;
    padding: 2px 0;
    text-align: right;
    height: 33px;
}
.head_nav .nav_right > li:nth-of-type(2){
    height: 25px;
    border-right: 2px solid #5f646e;
   margin-left: -10px;
}
.head_nav .nav_right > li:nth-of-type(3){
    height: 19px;
}
.head_nav .nav_right > li:nth-of-type(3) i:nth-of-type(1){
    background-position: -147px -66px;
    width: 18px;
    height: 18px;
}
.head_nav .nav_right > li:nth-of-type(3) i:nth-of-type(2){
    background-position: -180px -66px;
    width: 18px;
    height: 18px;
}
.head_nav .nav_right > li:nth-of-type(4) span{
    background-position: -244px -66px;
    width: 18px;
    height: 20px;
}
.head_nav .nav_right > li:nth-of-type(5) span{
    background-position: -275px -67px;
    width: 22px;
    height: 20px;
}
.head_nav .nav_right > li:nth-of-type(6){
    height: 33px;
}
.head_nav .nav_right > li:nth-of-type(6) img{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}