<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>线索</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/clue.css">
</head>

<body>
    <div id="warp">
        <div class="clue_top">
            <div class="close">
                <div class="close1">所有未关闭的线索
                    <i></i>
                </div>
                <div class="close2">编辑
                    <i></i>
                </div>
            </div>
            <div class="add">
                <div class="toggler">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <div class="daoru">
                    <a href="clue-input.html">
                        <button class="btn1" type="submit"></button>
                        <button class="btn2">导入</button>
                    </a>

                </div>

                <div class="caozuo">...</div>
            </div>
        </div>
        <div class="clue_btm">
            <!-- 左边 -->
            <div id="clue_left">
                <!-- 搜索栏 -->
                <div class="search">
                    <div class="search1">
                        <span>过滤线索通过</span>
                        <i></i>
                    </div>
                    <div class="search2">
                        <i></i>
                        <input type="text" placeholder="搜索">
                    </div>
                </div>
                <!-- 线索记录 -->
                <div>
                    <div class="clue_out">
                        <ul style="overflow:scroll; width:250px; height:750px;" class="clue_out_uls">
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"> 客户名称</label>
                                <div class="">
                                    <select name="" id="">
                                        <option value="1">是</option>
                                        <option value="2">不是</option>
                                        <option value="3">包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">不包含</option>
                                        <option value="3">开始字符</option>
                                        <option value="3">结束字符</option>
                                        <option value="3">为空</option>
                                        <option value="3">不为空</option>
                                    </select>
                                    <div class="ky_search_inp">
                                        <input type="text" placeholder="在这里输入">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 右边 -->
            <div id="clue_right">
                <div class="clueRight">
                    <div class="clueRt">
                        <div class="clueContainer">
                            <div class="box_nav">
                                <span>
                                    <input type="checkbox" class="box_nav_input">
                                </span>
                                <span class="box_shitu">画布视图:</span>
                                <span class="box_huabu">Leads - 画布
                                    <b></b>
                                </span>
                                <span class="box_bianji_ser">编辑</span>
                            </div>
                            <div class="box_check">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="clueTable" style="overflow:scroll;width:100%;height:750px;">

                        </div>
                    </div>
                    <div class="clue_table">
                        <div class="clue-up ulDiv">
                            <ul>
                                <li>
                                    <input type="checkbox" class="th_check">
                                </li>
                                <li>线索名称</li>
                                <li>公司</li>
                                <li class="liEmail">邮箱</li>
                                <li>电话</li>
                                <li>线索来源</li>
                                <li>线索所有者</li>
                            </ul>
                        </div>
                        <div class="right-nav ulDiv">

                        </div>

                    </div>
                    <div></div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
<script type="text/html" id="test">
    {{if code==200}}
    {{each data}}
        <div class="clueTableDiv" >
            <input type="checkbox" class="liCheck">
            <div class="divImg">
                <img src="images/image_profile_canvas_0e633_.svg" width="86px" height="81px">
            </div>
            <div class="listDiv">
                <ul>
                    <li>
                        <span class="spanName">{{$value.name}}</span>
                        <span class="spanSurname">{{$value.surname}}</span>
                        <span class="spanState">{{$value.state}}</span>
                    </li>
                    <li>
                        <span class="spanPosition">{{$value.position}}</span>
                        <span>公司 :
                            <i class="spanCompany">{{$value.company}}</i>
                        </span>
                        <span>行业 :
                            <i class="spanHangye">{{$value.industry}}</i>
                        </span>
                    </li>
                    <li>
                        <span class="spanEmail">{{$value.email}}</span>
                        <span>电话 :
                            <i class="spanTelephone">{{$value.telephone}}</i>
                        </span>
                        <span>手机 :
                            <i class="spanMobile">{{$value.mobile}}</i>
                        </span>
                    </li>
                    <li>
                        <span>线索来源 :
                            <i class="spanSource">{{$value.source}}</i>
                        </span>
                    </li>
                </ul>
                <ul>
                    <li>&nbsp;</li>
                    <li class="liOwner">第一小组</li>
                    <li class="liTime">2018-12-05 09:11 上午</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
        {{/each}}
    {{else}}
        <li>暂无记录</li>
    {{/if}}
</script>
<script type="text/html" id="test2">
    {{if code==200}}
    {{each data}}
        <ul>
            <li>
                <input type="checkbox" class="th_check">
            </li>
            <li class="blue">
                <span>{{$value.name}}</span>
                <span>{{$value.surname}}</span>
            </li>
            <li>
                    {{$value.campany}}
            </li>
            <li class="blue liEmail">
                {{$value.email}}
            </li>
            <li>
                {{$value.telephone}}
            </li>
            <li>
                {{$value.source}}
            </li>
            <li>
                第一小组
            </li>
        </ul>
        {{/each}}
    {{else}}
        <li>暂无记录</li>
    {{/if}}
</script>
</script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
<script>
    $(function () {
        $.ajax({
            url: "api.php",
            data: {
                "action": "clue"
            },
            type: "POST",
            dataType: "json",
            success: function (data, textStatus) {
                console.log(data);
                var html = template("test", data);
                $(".clueTable").html(html);
                var html2 = template("test2", data);
                $("div.right-nav").html(html2);
                // $(".toggle a:eq(0)").on("lick", function () {

                // })
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // 请求失败后调用此函数
                console.log("失败原因:" + errorThrown);
            }
        });
        $(".clue_top .close").on("mouseover", function () {
            $(".clue_top .close .close2").show();
            $(".clue_top .close .close1").css({ "border": "1px solid rgba(0,0,0,0.3)" });
        });
        $(".clue_top .close").on("mouseout", function () {
            $(".clue_top .close .close2").hide();
            $(".clue_top .close .close1").css({ "border-color": "#f8f8f8" });
        });
        $(".clue_top .add .toggler a:eq(0)").on("click", function () {
            $(this).css({ "background-position": "-44px -100px" });
            $(".clue_top .add .toggler a:eq(2)").css({ "background-position": "-229px -2313px" });
            $(".clue_table").show();
            $(".clueRt").hide();
        });
        $(".clue_top .add .toggler a:eq(2)").on("click", function () {
            $(this).css({ "background-position": "-234px -2417px" });
            $(".clue_top .add .toggler a:eq(0)").css({ "background-position": "-3px -100px" });
            $(".clue_table").hide();
            $(".clueRt").show();
        });
        $("#clue_left .search1").on("click", function () {
            $(this).css({ "display": "none" });
            $("#clue_left .search2").css({ "display": "block", "border-bottom": "1px solid #208aed" });
            $("#clue_left .search2 input").focus();
        });
        $("#clue_left .search2 input").on("blur", function () {
            $("#clue_left .search2").css({ "border-bottom": "1px solid #eee" });
        });
        $("#clue_left .search2 input").on("focus", function () {
            $("#clue_left .search2").css({ "border-bottom": "1px solid #208aed" });
        });

        $(".clue_out_uls li label input").on("click", function () {
            if (this.checked) {
                $(this).parent().next().css("height", "100px");
            } else {
                $(this).parent().next().css("height", "0px");
            }
        });
    });
</script>